<html>
	<body>
		<h1>Bienvenue !</h1>
		
		
		<img src="https://imgs.xkcd.com/comics/frequentists_vs_bayesians.png"   alt="Frequentists vs. Bayesians" /> <br />

		<a href="https://xkcd.com/1132/" target="_blank" role="button">
			Source
		</a> <br />

		Voici la liste des pages accessibles actuellement : 
		<li><a href="/about" target="_blank" role="button">
			A propos de nous
		</button></li>
		<li><a href="/form" target="_blank" role="button">
			Contactez nous
		</button></li>
	</body>
</html>
